@font-face {
   font-family: 'Freesentation-9Black';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
   font-weight: 900;
   font-style: normal;
}
.container{
   font-family: 'Freesentation-9Black';
   position:absolute;
   display:flex;
   flex-direction: column;
   
   text-align: center;
   gap:10px;
   color: #101010;
   border-radius: 30px;
   box-shadow: 30px 30px 15px rgb(107, 106, 106);
   border: 2px solid grey;
   padding: 15px;
   width: 80%;
   left:145px;
   height:80%;
   background-image: linear-gradient(rgb(47, 47, 130),#5f54a9 15%,#3d337a 50%,white);
}
.tr1{
  position:sticky;
  top:0;
}
.div1{
   position: relative;
   
   height: 450px;
   overflow: scroll;
}
.div1 table{
  width:8000px;
}
.div1 th{
  width: 100px;
  background-color:rgb(58, 40, 118);
  color:white;
}
.div1 td{
  width:100px;
}
.div2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:rgb(243, 240, 240);
}



.div1::-webkit-scrollbar{
   width: 15px;
 }
 .div1::-webkit-scrollbar-thumb{
   background-color: #2f3542;
   border-radius: 10px;
 }
 .div1::-webkit-scrollbar-track{
   background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
 }
 .btn{
  align-items: center;
   background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
   border: 0;
   border-radius: 8px;
   box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
   box-sizing: border-box;
   color: #FFFFFF;
   display: flex;
   font-family: 'Freesentation-9Black';
   font-size: 18px;
   justify-content: center;
   line-height: 1em;
   max-width: 100%;
   min-width: 140px;
   padding: 3px;
   text-decoration: none;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   white-space: nowrap;
   cursor: pointer;
   transition: all .3s;
   position: relative;
   left:760px;
}

.btn:active,
.btn:hover {
   outline: 0;
  }
.btn span{
   background-color: rgb(5, 6, 45);
   padding: 16px 24px;
   border-radius: 6px;
   width: 100%;
   height: 100%;
   transition: 300ms;
}
.btn:hover span{
   background: none;
}
.btn:active{
   transform: scale(0.9);
}
.pl{
  width: 200px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 13px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.pl:focus{
  border: 1px solid #9B51E0;
  box-sizing: border-box;
  border-radius: 10px;
  outline: 3px solid #F8E4FF;
  border-radius: 10px;
}
.lt1{
  position:relative;
  left:800px;
  top:100px;
}
.ct1 h3{
  color:white;
}
