@font-face {
   font-family: 'Freesentation-9Black';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
   font-weight: 900;
   font-style: normal;
}
.container{
   color:rgb(60, 65, 60);
   font-family: 'Freesentation-9Black';
   width: 99%;
   height: 110px;
   display:flex;
   justify-content: center;
   align-items: center;
   gap:20%;
}
.div1{
   margin-top: 60px;
}
