.container{
   position: fixed;
   bottom:0;
   width:100vh;
   height:120px;
   background-color: aquamarine;
   text-align: center;
   z-index: 10;
   display: none;
}
.btn1{
   position:absolute;
   top:0px;
   
   display:block;
   
   
}